@font-face {
    font-family: 'Uberlin';
    src: url(Uberlin.ttf);
}

@font-face {
    font-family: 'Oranienbaum';
    src: url(Oranienbaum.ttf);
}

ul.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #373737;
    text-align: center;
}

ul.nav li {
    display: inline-block;
}

ul.nav li a {
    font-family: "Uberlin";
    display: inline-block;
    vertical-align: middle;
    color: #F4F4F4;
    text-align: center;
    font-size: 18px;
    padding: 10px 20px 8px 20px;
    text-decoration: none;
}


img.portrait {
    display: block;
    margin: auto;
    padding-left: 25px;
}

.currentlogo {
    background-color: #C0B283;
}

.current {
    background-color: #C0B283;
    padding: 12px 12px 12px 12px;
}

.em {
    font-style: italic;
}

body {
    background-color: #F4F4F4;
    font-family: "Oranienbaum";
}

h3 {
    font-family: "Uberlin";
    font-weight: bold;
}